set logical-systems dept-misc security address-book global address 35.8.133.90 35.8.133.90/32
set logical-systems dept-misc security address-book global address 35.8.133.91 35.8.133.91/32
set logical-systems dept-misc security address-book global address 35.8.133.92 35.8.133.92/32
set logical-systems dept-misc security address-book global address aib.msu.edu 35.8.133.249/32
set logical-systems dept-misc security address-book global address AMAGLOBALSIG.bus 35.8.133.153/32
set logical-systems dept-misc security address-book global address atlas.bus 35.8.133.126/32
set logical-systems dept-misc security address-book global address autodiscoverredirect.bus 35.8.133.87/32
set logical-systems dept-misc security address-book global address autodiscoverredirect.bus-2 35.8.133.85/32
set logical-systems dept-misc security address-book global address AV3.bus 35.8.133.103/32
set logical-systems dept-misc security address-book global address barracuda.bus 35.8.133.110/32
set logical-systems dept-misc security address-book global address barracuda1.bus 35.8.133.111/32
set logical-systems dept-misc security address-book global address ciber-web.bus 35.8.133.160/32
set logical-systems dept-misc security address-book global address ciber.bus 35.8.133.57/32
set logical-systems dept-misc security address-book global address ciber1.176.bus 35.8.133.176/32
set logical-systems dept-misc security address-book global address ciber1.182.bus 35.8.133.182/32
set logical-systems dept-misc security address-book global address ciber1.bus 35.8.133.206/32
set logical-systems dept-misc security address-book global address CIBER2.bus 35.8.133.224/32
set logical-systems dept-misc security address-book global address CSM1.bus 35.8.133.123/32
set logical-systems dept-misc security address-book global address CSM2.bus 35.8.133.132/32
set logical-systems dept-misc security address-book global address dc0.bus 35.8.133.179/32
set logical-systems dept-misc security address-book global address dc1.bus 35.8.133.180/32
set logical-systems dept-misc security address-book global address dc2.bus 35.8.133.181/32
set logical-systems dept-misc security address-book global address DEV.bus 35.8.133.199/32
set logical-systems dept-misc security address-book global address global-edge.bus 35.8.133.152/32
set logical-systems dept-misc security address-book global address global.bus 35.8.133.154/32
set logical-systems dept-misc security address-book global address HC-JONAS-WEB2.bus.msu.edu 35.8.133.74/32
set logical-systems dept-misc security address-book global address HC-JONAS2.bus.msu.edu 35.8.133.75/32
set logical-systems dept-misc security address-book global address hc-ms-media 35.8.133.106/32
set logical-systems dept-misc security address-book global address hc-ms-web 35.8.133.107/32
set logical-systems dept-misc security address-book global address ibc-dev.150.bus 35.8.133.150/32
set logical-systems dept-misc security address-book global address ibc-dev.151.bus 35.8.133.151/32
set logical-systems dept-misc security address-book global address itsnas.bus 35.8.133.196/32
set logical-systems dept-misc security address-book global address jupiter.bus 35.8.133.116/32
set logical-systems dept-misc security address-book global address MBA1.bus 35.8.133.130/32
set logical-systems dept-misc security address-book global address MBAEMAIL.bus 35.8.133.215/32
set logical-systems dept-misc security address-book global address MSU-CIBER.bus 35.8.133.158/32
set logical-systems dept-misc security address-book global address neptune.133.bus 35.8.133.133/32
set logical-systems dept-misc security address-book global address neptune.134.bus 35.8.133.134/32
set logical-systems dept-misc security address-book global address neptune.201.bus 35.8.133.201/32
set logical-systems dept-misc security address-book global address neptune.207.bus 35.8.133.207/32
set logical-systems dept-misc security address-book global address neptune.227.bus 35.8.133.227/32
set logical-systems dept-misc security address-book global address neptune.231.bus 35.8.133.231/32
set logical-systems dept-misc security address-book global address neptune.bus 35.8.133.104/32
set logical-systems dept-misc security address-book global address NEPTUNE02-204 35.8.133.204/32
set logical-systems dept-misc security address-book global address neptune02.bus 35.8.133.114/32
set logical-systems dept-misc security address-book global address Neptune3.bus.msu.edu 35.8.133.129/32
set logical-systems dept-misc security address-book global address printers.bus 35.8.133.226/32
set logical-systems dept-misc security address-book global address relay.bus.msu.edu 35.8.133.95/32
set logical-systems dept-misc security address-book global address searchglobal.bus 35.8.133.164/32
set logical-systems dept-misc security address-book global address WEB1-DEV.bus 35.8.133.197/32
set logical-systems dept-misc security address-book global address web1.bus 35.8.133.200/32
set logical-systems dept-misc security address-book global address WEBLP1.bus 35.8.133.78/32
set logical-systems dept-misc security address-book global address weblp2.bus 35.8.133.124/32
set logical-systems dept-misc security address-book global address weblp4.bus 35.8.133.113/32
set logical-systems dept-misc security address-book global address weblt1.bus 35.8.133.79/32
set logical-systems dept-misc security address-book global address webwp1.bus.msu.edu 35.8.133.105/32
set logical-systems dept-misc security address-book global address WEBWT1.bus 35.8.133.100/32
set logical-systems dept-misc security address-book global address 10.129.0.0/16 10.129.0.0/16
set logical-systems dept-misc security address-book global address 162.247.216.0/22 162.247.216.0/22
set logical-systems dept-misc security address-book global address 192.41.90.128/26 192.41.90.128/26
set logical-systems dept-misc security address-book global address 35.10.129.0 35.10.129.0/24
set logical-systems dept-misc security address-book global address 35.10.163.0 35.10.163.0/24
set logical-systems dept-misc security address-book global address 35.10.241.0 35.10.241.0/24
set logical-systems dept-misc security address-book global address 35.10.242.0 35.10.242.0/24
set logical-systems dept-misc security address-book global address 35.10.245.0 35.10.245.0/24
set logical-systems dept-misc security address-book global address 35.12.194.0/24 35.12.194.0/24
set logical-systems dept-misc security address-book global address 35.12.55.0 35.12.55.0/24
set logical-systems dept-misc security address-book global address 35.13.0.0/16 35.13.0.0/16
set logical-systems dept-misc security address-book global address 35.14.0.0/16 35.14.0.0/16
set logical-systems dept-misc security address-book global address 35.15.1.0/24 35.15.1.0/24
set logical-systems dept-misc security address-book global address 35.20.0.0/14 35.20.0.0/14
set logical-systems dept-misc security address-book global address 35.20.0.0/15 35.20.0.0/15
set logical-systems dept-misc security address-book global address 35.22.0.0/15 35.22.0.0/15
set logical-systems dept-misc security address-book global address 35.8.0.0/13 35.8.0.0/13
set logical-systems dept-misc security address-book global address 35.8.204.0 35.8.204.0/24
set logical-systems dept-misc security address-book global address 35.8.205.191 35.8.205.191/32
set logical-systems dept-misc security address-book global address 35.8.205.192 35.8.205.192/32
set logical-systems dept-misc security address-book global address 35.8.205.193 35.8.205.193/32
set logical-systems dept-misc security address-book global address 35.8.205.194 35.8.205.194/32
set logical-systems dept-misc security address-book global address 35.8.205.195 35.8.205.195/32
set logical-systems dept-misc security address-book global address 35.8.205.196 35.8.205.196/32
set logical-systems dept-misc security address-book global address 35.9.112.0 35.9.112.0/24
set logical-systems dept-misc security address-book global address 35.9.199.0/24 35.9.199.0/24
set logical-systems dept-misc security address-book global address 64.58.224.32/27 64.58.224.32/27
set logical-systems dept-misc security address-book global address 64.58.225.80/28 64.58.225.80/28
set logical-systems dept-misc security address-book global address 66.178.195.65 66.178.195.65/32
set logical-systems dept-misc security address-book global address 66.178.195.90 66.178.195.90/32
set logical-systems dept-misc security address-book global address A-98.197.4.238 98.197.4.238/32
set logical-systems dept-misc security address-book global address ANR-Avamar 35.9.121.136/32
set logical-systems dept-misc security address-book global address ATS-MGMT 172.30.0.0/16
set logical-systems dept-misc security address-book global address atsmediagent01.ats.msu.edu 35.9.2.147/32
set logical-systems dept-misc security address-book global address atsmediagent02.ats.msu.edu 35.9.2.148/32
set logical-systems dept-misc security address-book global address backupcs1.ais.msu.edu 35.8.113.12/32
set logical-systems dept-misc security address-book global address backupma1.ais.msu.edu 35.8.113.13/32
set logical-systems dept-misc security address-book global address backupma2.ais.msu.edu 35.8.113.14/32
set logical-systems dept-misc security address-book global address backupma3.ais.msu.edu 35.8.113.15/32
set logical-systems dept-misc security address-book global address backupma4.ais.msu.edu 35.8.113.11/32
set logical-systems dept-misc security address-book global address Campus-Mail 35.9.75.0/24
set logical-systems dept-misc security address-book global address CampusVPN.Staff.Pulse.Broad 35.12.79.32/28
set logical-systems dept-misc security address-book global address CampusVPN.Staff.Pulse.MSUIT 35.12.75.0/24
set logical-systems dept-misc security address-book global address CampusVPN.Staff.Pulse.NetID 35.12.72.0/23
set logical-systems dept-misc security address-book global address CampusVPN.Student.Pulse.Undergrad 35.12.64.0/24
set logical-systems dept-misc security address-book global address cc-mgmt-VLAN 172.30.1.0/24
set logical-systems dept-misc security address-book global address Computer-Center-DHCP-1 35.10.2.0/24
set logical-systems dept-misc security address-book global address Computer-Center-DHCP-2 35.10.4.0/24
set logical-systems dept-misc security address-book global address Computer-Center-Static 35.8.0.0/22
set logical-systems dept-misc security address-book global address dhcp1.acns.msu.edu 35.8.2.22/32
set logical-systems dept-misc security address-book global address dhcp2.acns.msu.edu 35.8.2.23/32
set logical-systems dept-misc security address-book global address EDC-1 35.10.241.0/24
set logical-systems dept-misc security address-book global address Global-ATS-Monitoring 35.8.6.0/28
set logical-systems dept-misc security address-book global address kc-adm 35.10.173.0/24
set logical-systems dept-misc security address-book global address netman2.ats.msu.edu 35.8.98.12/32
set logical-systems dept-misc security address-book global address nmserv1.acns.msu.edu 35.8.2.45/32
set logical-systems dept-misc security address-book global address smartdeva1.itservices.msu.edu 35.8.6.7/32
set logical-systems dept-misc security address-book global address smartprda1.itservices.msu.edu 35.8.6.6/32
set logical-systems dept-misc security address-book global address smartprdpol1.itservices.msu.edu 35.8.6.5/32
set logical-systems dept-misc security address-book global address smartprdpol2.itservices.msu.edu 35.8.6.9/32
set logical-systems dept-misc security address-book global address Uclub 35.12.55.0/24
set logical-systems dept-misc security address-book global address Uclub-DHCP 35.10.129.0/24
set logical-systems dept-misc security address-book global address VPN-Hardware-Addresses 35.9.83.128/28
set logical-systems dept-misc security address-book global address vpn.itservices.msu.edu 35.9.83.145/32
set logical-systems dept-misc security address-book global address vulnmgmt0.itservices.msu.edu 35.8.6.45/32
set logical-systems dept-misc security address-book global address vulnmgmt1.itservices.msu.edu 35.8.13.200/32
set logical-systems dept-misc security address-book global address 35.9.193.3 35.9.193.3/32
set logical-systems dept-misc security address-book global address 35.9.195.199 35.9.195.199/32
set logical-systems dept-misc security address-book global address 35.9.195.218 35.9.195.218/32
set logical-systems dept-misc security address-book global address 35.9.195.219 35.9.195.219/32
set logical-systems dept-misc security address-book global address IBC-SVN 35.9.193.120/32
set logical-systems dept-misc security address-book global address lear-e66-camsrv.bus 35.9.194.30/32
set logical-systems dept-misc security address-book global address Lear_VC1 35.9.193.236/32
set logical-systems dept-misc security address-book global address Lear_VC2 35.9.193.237/32
set logical-systems dept-misc security address-book global address-set autodiscoverredirect-bus address autodiscoverredirect.bus
set logical-systems dept-misc security address-book global address-set autodiscoverredirect-bus address autodiscoverredirect.bus-2
set logical-systems dept-misc security address-book global address-set DOMAIN_CONTROLLERS_BUS address dc0.bus
set logical-systems dept-misc security address-book global address-set DOMAIN_CONTROLLERS_BUS address dc1.bus
set logical-systems dept-misc security address-book global address-set DOMAIN_CONTROLLERS_BUS address dc2.bus
set logical-systems dept-misc security address-book global address-set mail.bus.msu.edu address 35.8.133.90
set logical-systems dept-misc security address-book global address-set mail.bus.msu.edu address 35.8.133.91
set logical-systems dept-misc security address-book global address-set mail.bus.msu.edu address 35.8.133.92
set logical-systems dept-misc security address-book global address-set Assessment-Scanners address vulnmgmt0.itservices.msu.edu
set logical-systems dept-misc security address-book global address-set Assessment-Scanners address vulnmgmt1.itservices.msu.edu
set logical-systems dept-misc security address-book global address-set ATS address cc-mgmt-VLAN
set logical-systems dept-misc security address-book global address-set ATS address Computer-Center-DHCP-1
set logical-systems dept-misc security address-book global address-set ATS address Computer-Center-DHCP-2
set logical-systems dept-misc security address-book global address-set ATS address Computer-Center-Static
set logical-systems dept-misc security address-book global address-set ATS address Global-ATS-Monitoring
set logical-systems dept-misc security address-book global address-set ATS address netman2.ats.msu.edu
set logical-systems dept-misc security address-book global address-set Campus address 35.20.0.0/14
set logical-systems dept-misc security address-book global address-set Campus address 35.8.0.0/13
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 10.129.0.0/16
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.12.194.0/24
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.13.0.0/16
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.14.0.0/16
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.15.1.0/24
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.20.0.0/15
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.22.0.0/15
set logical-systems dept-misc security address-book global address-set Campus-Wireless address 35.9.199.0/24
set logical-systems dept-misc security address-book global address-set CommvaultServers address atsmediagent01.ats.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address atsmediagent02.ats.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address backupcs1.ais.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address backupma1.ais.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address backupma2.ais.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address backupma3.ais.msu.edu
set logical-systems dept-misc security address-book global address-set CommvaultServers address backupma4.ais.msu.edu
set logical-systems dept-misc security address-book global address-set HC-UC-ADM-NET address 35.12.55.0
set logical-systems dept-misc security address-book global address-set HC-UC-ADM-NET address 35.9.112.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.10.129.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.10.163.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.10.241.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.10.242.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.10.245.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.12.55.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.204.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.191
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.192
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.193
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.194
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.195
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.8.205.196
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address 35.9.112.0
set logical-systems dept-misc security address-book global address-set HC_GBL_KC address kc-adm
set logical-systems dept-misc security address-book global address-set Qualtrics address 162.247.216.0/22
set logical-systems dept-misc security address-book global address-set Qualtrics address 192.41.90.128/26
set logical-systems dept-misc security address-book global address-set Qualtrics address 64.58.224.32/27
set logical-systems dept-misc security address-book global address-set Qualtrics address 64.58.225.80/28
set logical-systems dept-misc security address-book global address-set Smart-Monitor address smartdeva1.itservices.msu.edu
set logical-systems dept-misc security address-book global address-set Smart-Monitor address smartprda1.itservices.msu.edu
set logical-systems dept-misc security address-book global address-set Smart-Monitor address smartprdpol1.itservices.msu.edu
set logical-systems dept-misc security address-book global address-set Smart-Monitor address smartprdpol2.itservices.msu.edu
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-wks policy 200 match source-address dhcp1.acns.msu.edu
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 201 match source-address any
set logical-systems dept-misc security policies from-zone bcc-srv to-zone bcc-u policy 202 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-wks policy 203 match source-address any
set logical-systems dept-misc security policies from-zone bcc-wks to-zone bcc-u policy 204 match source-address any
set logical-systems dept-misc security policies from-zone bcc-srv to-zone bcc-wks policy 205 match source-address any
set logical-systems dept-misc security policies from-zone bcc-wks to-zone bcc-srv policy 206 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 64 match source-address Assessment-Scanners
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-wks policy 65 match source-address Assessment-Scanners
set logical-systems dept-misc security policies from-zone bcc-srv to-zone bcc-u policy 2 match source-address any
set logical-systems dept-misc security policies from-zone bcc-srv to-zone bcc-wks policy 44 match source-address any
set logical-systems dept-misc security policies from-zone bcc-wks to-zone bcc-u policy 25 match source-address any
set logical-systems dept-misc security policies from-zone bcc-wks to-zone bcc-srv policy 29 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 209 match source-address Smart-Monitor
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 42 match source-address CampusVPN.Staff.Pulse.Broad
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 45 match source-address ATS-MGMT
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-wks policy 46 match source-address ATS-MGMT
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 62 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 56 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 7 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 14 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 41 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 61 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 22 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 40 match source-address 66.178.195.65
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 57 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 3 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 35 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 55 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 5 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 9 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 6 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 34 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 11 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 12 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 37 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 20 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 21 match source-address Campus-Mail
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 32 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 38 match source-address any
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 24 match source-address HC_GBL_KC
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 19 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 23 match source-address CampusVPN.Staff.Pulse.MSUIT
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-wks policy 63 match source-address Campus
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 17 match source-address Qualtrics
set logical-systems dept-misc security policies from-zone bcc-u to-zone bcc-srv policy 58 match source-address CommvaultServers
